[submodule "turborepo-tailwind-config"]
	path = turborepo-tailwind-config
	url = git@github.com:Prajwal-17/turborepo-tailwind-config.git
[submodule "turborepo-prisma-setup"]
	path = turborepo-prisma-setup
	url = https://github.com/Prajwal-17/turborepo-prisma-setup.git
